<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EarthQuakeMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DBBCE4A1C74CBB9008BCDC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBBCE631C74CBB9008BCDC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBBCE6E1C74CBB9008BCDC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
